@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic,700,700italic);

body {
    font-family: 'Merriweather', Georgia, Times;
    background-color: #e5e5e5;
    margin: 20px auto;
    width: 70%;
}

h1 {
    font-size: 2em;
    font-family: 'Merriweather', Georgia, Times;
    padding-bottom: 0.5em;
}

h2 {
    font-size: 1.5em;
    font-family: 'Merriweather', Georgia, Times;
    padding-bottom: 0.5em;
}


p {
    font-size: 1.1em;
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 2px solid #d5d5d5;
    font-size: .8em;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
}

nav li, footer li {
    display: inline;
    margin-right: 20px;
}

li {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #36C;
}

a:hover {
    text-decoration: underline;
}

.photo {
    float: left;
    margin-right: 20px;
}

.book-picture {
    margin-top: 80px;
    margin-bottom: 40px;
    margin-left: 20px;
    width: 275px;
    height: 225px;
}


.pub-list {
    width: 75%;
    margin-left: 0;
}

.header-icon {
    color: #36C;
}

.buy-button {
    margin: 1% 1% 5%;
}
